<style>
  /* The side navigation menu */
  .switcher {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #198754 !important;*/
    background-color: rgba(25, 135, 84, 0.96) !important;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.7s;
    color: white;
  }

  .switcher .alphabet h1 {
    display: inline-block;
  }

  .switcher .alphabet a {
    display: inline-block;
    padding: 8px 20px;
  }

  /* The navigation menu links */
  .switcher a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .switcher a:hover {
    /*color: #f1f1f1;*/
    color: #198754;
    background-color: white;
  }

  /* Position and style the close button (top right corner) */
  .switcher .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0 8px !important;
  }
</style>

<script>
  function openSwitch() {
    document.getElementById('switch').style.width = '100%';
  }

  function closeSwitch() {
    document.getElementById('switch').style.width = '0';
  }

  window.addEventListener('keydown', function(e) {
    if (e.key === 'Escape') {
      e.preventDefault();
      closeSwitch();
      return false;
    }
  }, true);
</script>

<div id="switch" class="switcher">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSwitch()">&times;</a>
  <div class="container">
    <div class="row">
      <div class="col-12 alphabet">
        {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}
        {{ range $letters }}
          <h1><a href="#{{ . }}">{{ . }}</a></h1>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ $.Scratch.Set "first" "" }}
      {{ range where .Site.Pages "Params.layout" "municipality" }}
      {{ $dirname := printf "numbers_%s" (lower (replace .File.Dir "/" "")) }}
      {{ $data := (index $.Site.Data $dirname )}}
      {{ $municipality := $data.municipality }}

      {{ if ne ($.Scratch.Get "first") (upper (substr $municipality 0 1)) }}
        {{ $.Scratch.Set "first" (upper (substr $municipality 0 1)) }}
        <div class="col-12"><h1 class="border-bottom mt-4" id='{{ $.Scratch.Get "first" }}'>{{ $.Scratch.Get "first" }}</h1></div>
      {{ end }}

      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="{{ .Permalink }}">{{ $municipality }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
